.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
}

.logo {
    width: 75px;
    height: 75px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color:cornsilk
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
  position: absolute;
  bottom : 0;
  width: 100%;
}

.header-text{
    font-size: 28px;
    font-weight: bold;
    color: #343a40;
}

.header-options {
    font-size: 18px;
    display: flex;
    gap: 20px;
    list-style: none;
}